<% title = cli.name + ' запрашивает доступ к аккаунту GreenCubes!';
styles.push('main.css');
scripts.push('dialog.js') %>

<!DOCTYPE html>
<html>
	<head>
		 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		 <title><%- title %></title>
		 <link rel="icon" type="image/x-icon" href="/favicon.ico" />
		 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		 <meta property="og:title" content="<%- title %>" />
		 <meta property="og:type" content="website" />
		 <meta property="og:image" content="/images/logo.png">
		<link rel="icon" type="image/png" href="//greencubes.org/favicon.png" />
		 <%- renderCSSTags(styles) %>
		 <%- renderJSTags(scripts) %>
	</head>

	<body>
		<div class="gc-center">
			<img class="ui image gc-logo gc-center" src="/images/gclogo.png">
			<h2>Привет, <%= user.username %>! Приложение <br><b><%= cli.name %></b> (<%= cli.description %>) <br>
				просит доступа к твоему аккаунту.</h2>
			<form id="oauthform" action="/oauth/authorize/decision" method="post">
				<input name="transaction_id" type="hidden" value="<%= transactionID %>">
				<input name="scope" type="hidden" value="<%= cli.scope %>">
				<div class="field" style="margin: 0 auto;width: 35%;">
					<div class="ui list">
					<% if(_.contains(scopes, 'profile') || scopes === '*') { %>
						<div class="item">
							<div class="content">
								<div class="header">Приложение сможет узнать базовую информацию о игроке</div>
								Последний вход, цвет ника, префикс, скин, статус онлайна.
							</div>
						</div>
					<% } %>
					<% if(_.contains(scopes, 'email') || scopes === '*') { %>
						<div class="item">
							<div class="content">
								<div class="header">Приложение сможет узнать твой email</div>
								У приложения будет доступ к твоему email, обычно это нужно для почтовых рассылок.
							</div>
						</div>
					<% } %>
					</div>
				</div>
				<div class="ui form" style="display: inline-block !important; margin-top: 20px;">
					<div class="allowbutton gc-center">
						<input type="submit" class="allowbutton" id="allow" value="">
					</div>
				</div>
			</form>
			<a id="wtflink" href="/logout">Это не ваш аккаунт?</a>
			<div id="loginerr"></div>
		</div>
	</body>
</html>
