<% title = 'Требуется вход в аккаунт GreenCubes'
styles.push('main.css');
scripts.push('login.js') %>

<!DOCTYPE html>
<html>
	<head>
		 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		 <title><%- title %></title>
		 <link rel="icon" type="image/x-icon" href="/favicon.ico" />
		 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		 <meta property="og:title" content="<%- title %>" />
		 <meta property="og:type" content="website" />
		 <meta property="og:image" content="/images/logo.png">
		<link rel="icon" type="image/png" href="//greencubes.org/favicon.png" />
		 <%- renderCSSTags(styles) %>
		 <%- renderJSTags(scripts) %>
	</head>

	<body>
		<div class="gc-center" style="margin-top:4rem">
			<h1 class="dialog-header">Требуется вход в аккаунт GreenCubes</h1>
			<p class="dialog-descr">Приложение <%= name %> просит доступ <br>
				к вашему аккаунту</p>
			<form id="loginform" method="post" action="/login" style="margin-top:1rem">
				<div class="ui form" style="display: inline-block !important">
					<div class="field">
						<div class="ui left icon input">
							<input placeholder="Имя пользователя" type="text" name="username">
							<i class="user icon"></i>
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<input placeholder="Пароль" type="password" name="password">
							<i class="lock icon"></i>
						</div>
					</div>
					<input type="submit" class="ui green button" title="Войти" value="Войти">
				</div>
			</form>
		  <div id="loginerr"></div>
		</div>
	</body>
</html>
